<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liliang.dao.UnitMapper">
    <resultMap id="BaseResultMap" type="liliang.pojo.Unit">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="counit" jdbcType="VARCHAR" property="counit"/>
        <result column="unitphone" jdbcType="INTEGER" property="unitphone"/>
        <result column="resmoney" jdbcType="VARCHAR" property="resmoney"/>
        <result column="bigbed" jdbcType="VARCHAR" property="bigbed"/>
        <result column="twobed" jdbcType="VARCHAR" property="twobed"/>
    </resultMap>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from unit
        where id = #{id,jdbcType=INTEGER}
    </delete>


    <insert id="insert" parameterType="liliang.pojo.Unit">
        insert into unit (id, counit, unitphone,
        resmoney, bigbed, twobed
        )
        values (#{id,jdbcType=INTEGER}, #{counit,jdbcType=VARCHAR}, #{unitphone,jdbcType=INTEGER},
        #{resmoney,jdbcType=VARCHAR}, #{bigbed,jdbcType=VARCHAR}, #{twobed,jdbcType=VARCHAR}
        )
    </insert>


    <update id="updateByPrimaryKey" parameterType="liliang.pojo.Unit" >
        update unit
        set
        counit = #{counit,jdbcType=VARCHAR},
        unitphone = #{unitphone,jdbcType=INTEGER},
        resmoney = #{resmoney,jdbcType=VARCHAR},
        bigbed = #{bigbed,jdbcType=VARCHAR},
        twobed = #{twobed,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select id, counit, unitphone, resmoney, bigbed, twobed
        from unit
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectAll" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        select id, counit, unitphone, resmoney, bigbed, twobed
        from unit
    </select>
</mapper>